input[type=password],input[type=text] {
	width: 200px;
}

table {
	border-collapse: collapse;
	margin: 0 auto;
}

#userstable td {
	padding: 3px 10px;
}

.enabled td {
	background-color: #5f5;
	color: black;
}
.enabled a {
	color: black;
}

.disabled td {
	background-color: #f55;
	color: white;
}
.disabled a {
	color: white;
}