html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	color: black;
	font-family: Geneva, Times;
	font-size: 11pt;
	margin: 0px;
	padding: 0px;
}


/*** MAIN CONTENT ***/

div#main {
	width: 1180px;
	margin: 60px auto 40px auto;
	padding: 10px;
	background-color: #aaa;
	min-height: 900px;
}

/*** END MAIN CONTENT ***/


/*** FOOTER ***/

div#foot-wrapper {
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	bottom: 0px;
	width: 100%;
}

div#foot {
	color: white;
	padding: 5px;
	height: 20px;
	line-height: 20px;
}
#foot a { color: white; }
#foot a:hover { color: red; }

/*** END FOOTER ***/


/*OTHERS*/

a { color: black; }
a:hover { color: #ba0d0d; }
h1 { font-size: 40px; text-align: center; padding: 20px; }
h2 { font-size: 30px; text-align: center; padding: 15px; }
a.nostyle { text-decoration: none }
.center { text-align: center; }
div.clear { clear: both; }


/**** CSS for containers and full-width sites *****/

div.container {
	position: relative;
	padding: 10px 0;
	min-height: 300px;
}

.container div.content { width: 60%; }
.container div.content-mid { width: 960px; margin: 0 auto; }
@media (max-width: 980px) {
	.container div.content-mid { width: auto; margin: 0 10px; }
}

.content p { padding: 10px; }

.container div.img {
	position: absolute;
	bottom: 0;
	width: 40%;
	max-width: 40%;
	background-repeat: no-repeat;
	z-index: 0;
	height: 100%;
	background-position: center;
}

.left div.content, { margin-right: auto; }
.left div.img { right: 0; }

.right div.content { margin-left: auto; }
.right div.img { left: 0; }

@media (max-width: 600px){
	.container div.img { display: none; }
	.container div.content { width: 100%; }
}


/**** FANCY STYLING FOR INPUT, TEXTAREAS, AND BUTTONS ****/

input[type=text], input[type=password], textarea {
	-o-transition-property: all;
	-o-transition-duration: 0.2s;
	-o-transition-timing-function: ease-in-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.2s;
	-webkit-transition-timing-function: ease-in-out;
	-ms-transition-property: all;
	-ms-transition-duration: 0.2s;
	-ms-transition-timing-function: ease-in-out;
	-moz-transition-property: all;
	-moz-transition-duration: 0.2s;
	-moz-transition-timing-function: ease-in-out;
	transition-property: all;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;

	width: 300px;
	padding: 5px;
	border-radius: 10px;
	font-size: 11pt;
	font-family: Oxygen, sans-serif;
	border: 2px solid #aaa;
	outline: none;
}
textarea { min-height: 200px; resize: none; }
input[type=text]:focus, input[type=password]:focus, textarea:focus {
	box-shadow: 0 0 5px #00f;
	-moz-box-shadow: 0 0 5px #00f;
	-webkit-box-shadow: 0 0 5px #00f;
}

button {
	margin: 5px;
	border-radius: 5px;
	border: solid 1px #ddd;
	padding: 8px 17px;
	color: black;
	font-size: 18px;
	background-color: #ccc;
}
button:hover {
	background-color: #aaa;
	cursor: pointer;
}
button:active {
	box-shadow: inset 0 1px 5px #000;
}

/*** BLACOUTS ***/
html.blackout-on { overflow: hidden; }
div.blackout {
	z-index: 10;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	text-align: center;
}
div.ref {
	width: 0;
	height: 100%;
}
div.match-ref,div.ref {
	vertical-align: middle;
	display: inline-block;
}