div.column {
	width: 200px;
	padding: 10px;
	font-size: 11pt;
	display: inline-block;
}
div.column.right { float: right; }
div.column.left { float: left; }

div#right-column-color, div#left-column-color {
	display: none;
}

div#main-text {
	margin-left: 220px;
	padding: 10px;
	position: relative;
}

@media (max-width: 1200px) {
	div.column {
		width: 150px;
		font-size: 9pt;
	}
	div#right-column-color, div#left-column-color {
		width: 170px;
	}
	div#main-text {
		margin-left: 170px;
	}
}