html { background-color: #777; }

div#main-wrapper {
	background-color: #ddd;
	width: 1180px;
	margin: 20px auto;
	padding: 0px;
	-moz-box-shadow: 0 0 7px #000;
	-webkit-box-shadow: 0 0 7px #000;
	box-shadow: 0 0 7px #000;
}

div#main {
	padding: 10px;
	min-height: 500px;
}

div#foot {
	margin: 10px 10px 0 10px;
	text-align: center;
	font-size: 10px;
	padding-top: 5px;
	line-height: 25px;
}