{
	"mysql"	: {
		"host"	: "localhost",
		"user"	: "new_website",
		"pass"	: "fewi2#@%2834",
		"db"	: "new_website"
	},
	"site"	: {
		"theme"	: "CoverAll",
		"photos"	: {
			"destination"	: "{FILESROOT}/photos",
			"full_size"		: false,
			"sizes"			: {
				"l":{"d":1000,"min":false},
				"s":{"d":200,"min":true}
			},

			"wmark_pass"	: ""
		}
	}
}